.aboutDiv {
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
    ),
    url("../../images/aboutImage.png");
    background-size: cover;
    align-items: center;
}