* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1440px;
  margin: 100px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
}

.contact {
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin-bottom: 10px;
  background: hsl(263, 55%, 52%);
  color: #fff;
}

.contactHeader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contactImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #996ed9;
  margin-right: 10px;
}

.contactInfo p {
  opacity: 50%;
}

  .contact_Name p{ 
    opacity: 50%;
  }

  .contact_Phone, .contact_Email {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 10px;
    margin-left: 70px;
  }